body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.top{
  background-color: #1F2937; 
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 8px;
}
.logo img{
width: 80px;
}
.header-content img{
  width: 400px;
  height: 200px;
}

.info img{
  width: 200px;
  height: 100px;
  
}

a , ul{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #E5E7EB;
  list-style-type: none;
  font-size: 18px;
  gap: 10px;

}
.header-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 25px;
}

.title1{
  display: flex;
  flex-direction: column;
  font-size: 42px;
  font-weight: 900;
  color: #E5E7EB;
  gap: 12px;


}
.toptext{
  font-size: 14px;
  font-weight: 100;
  
}
.titlebutton{
  background-color: #3882F6;
  padding: 8px 16px;
  color: #E5E7EB;
  width: 100px;
  border-radius: 4px;
  border-color: #3882F6;
  font-size: 14px;
  font-weight: 700;

}
.maincontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}
.midtitle{
  text-align: center;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;

}
.piccontainer{
  display: flex;
  justify-content: center;
  gap: 25px;

}
.info{
  margin-bottom: 10px;
  max-width: 200px;
  
}
.text{
  margin-top: 10px;
  
}
.quote{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 50px;
}
.quotetext{
  font-size: 26px;
  font-style: italic;
  color: #1F2937;
}
.author{
  margin-top: 5px;
  margin-left: auto;
  font-weight: bold;
  color: #1F2937;
}
.bottomCTA{
  background-color: #3882F6;
  color: #E5E7EB;
  display: flex;
  flex-direction: row;
  margin: 50px;
  padding: 50px;
  border-radius: 6px;
  gap: 500px;
  
}

.buttoncontainer{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}


.bottombutton{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3882F6;
  border-radius: 8px;
  border-color: #E5E7EB;
  font-weight: bold;
  color: #E5E7EB;
  align-items: center;

}
.CTAtitle{
  font-size: 20px;
  font-weight: bolder;
  color: #E5E7EB;
}
.footer{
  background-color: #1F2937;
  display: flex;
  color: #E5E7EB;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
